@model Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<h2>Detailed Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            Current Image
        </dt>

        <dd>
            <img src="@Url.Content(Session["DetailedImage"].ToString())" height="80" width="80" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.itemID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</p>
